:root
{
  --blue:#5356FF;
   --lightBlue:#378CE7;
    --sky :#67C6E3;
    --lightSky: #DFF5FF;
    --white:#ffffff;
    --primary:#3B4144;
    /* --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08); */ 
    
}

.App{
    /* padding: 0.5rem 3.5rem; */
    overflow: hidden;
    color: var(--lightSky);    
}



@media  screen and (max-width:480px) {
  .App{
    padding: 0.5rem 1rem;
  }
  
}